#!/usr/bin/make -f

export DEB_CFLAGS_MAINT_PREPEND = -W -Wall -Werror -Wundef -Wshadow -D_GNU_SOURCE
export DEB_CFLAGS_MAINT_APPEND = -fno-strict-aliasing

%:
	dh ${@}

override_dh_installinit:
	dh_installinit -s

